
$mainRed :#FF3737 ;
$mainDark:#212121 ;
$lightBlack:#363636;
$mainGray:#e0dfdf ;

$theme-colors: (
  "main":$mainRed,
  "custom-dark":$mainDark,
  "gray":$mainGray,
  "light-black":$lightBlack
  );
  
  @import "bootstrap/scss/bootstrap";